@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: #F9FAFF;
}

.header-box-shadow {
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
}

.header-call-icon {
  border: 1px solid #F2B304;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}

.bannerImage {
  /* background-image: url("./assets/bg-2.svg"), url('./assets/Banner.svg');
  background-repeat: no-repeat;
  background-position: 12vw -50px ,right top;
  background-size: contain ,auto; */

    background-image: url("./assets/bg-2.svg"), url('./assets/Banner.svg');
    background-repeat: no-repeat;
    background-position: 7vw -60px, right -25px;
    background-size: contain, auto;
}

.coworkerImage {
  background-image: url('./assets/CoworkingBanner.svg');
  /* background-repeat: no-repeat;
  background-position: right top;
  background-size: auto; */
  position: absolute;
  right: 7%;
  top: 9%;
  mix-blend-mode: multiply;
}

.chooseContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.chooseContent {
  /* background-color: yellow; */
  font-weight: bold;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2rem;
  border: 1px solid #ededed;
  border-top: 0px;
}

/* First item (no left & top border) */
.chooseContent:nth-child(1) {
  border-left: none;
  border-top: none;
  border-right: none;
}

/* Second & Third item (no top, no left, no right border) */
.chooseContent:nth-child(2),
.chooseContent:nth-child(3) {
  border-top: none;
  border-right: none;
}

/* Fourth item (no top, no right border) */
.chooseContent:nth-child(4) {
  border-top: none;
  border-right: none;
}

.chooseContent:nth-child(5) {
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.chooseContent:nth-child(6),
.chooseContent:nth-child(7) {
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.chooseContent:nth-child(8) {
  border-right: none;
  border-bottom: none;
}

/* Property Card Component CSS */

.spaceContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 29px;
}

.spaceCard{
  box-shadow: 0px 1.08px 8.63px 0px rgba(0, 0, 0, 0.06);
  border: 1.08px solid rgba(238, 231, 231, 0.8);
  width: 380px;
  height: 398px;
  border-radius: 8px;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #fff;
}

.spaceLoction{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.spaceAddress{
  font-size: 20px;
  font-weight: 600;
  width: 238px;
}

.spaceMapLocation{
  width: 52px;
  height: 52px;
  border: 0.47px solid rgba(238, 231, 231, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(249, 249, 249, 1);
  border-radius: 8px;
}

.spaceLocatedImage{
  width: 346px;
  height: 202px;
  border-radius: 6px;  
  background-size: cover;
  background-repeat: no-repeat;
}

.spaceLocatedDistance{
  font-size:8px;
  color: rgba(38, 50, 56, 0.5);
  font-weight: 500;
  margin-top: 5px;
}

.spaceBadge{
  padding: 6px;
}

.dayPassButton{
  border: 0.5px solid rgba(238, 231, 231, 1);
  background: rgba(249, 249, 249, 1);
  width: 167px;
  height: 66px;
  cursor: pointer;
  border-radius: 6px;
}

.bulkPassButton{
  border: 1px solid #FFC422;
  background: #FFCF4B;
  width: 167px;
  height: 66px;
  cursor: pointer;
  border-radius: 6px;
}

.discountTag{
  font-size: 8px;
  font-weight: 500;
  color: #FFFDF7;
  border: 1px solid #263238;
  background: #263238;
  border-radius: 3px;
  position: absolute;
  top: -11px;
  right: 54px;
  padding: 3px 5px;
}

/* store card coomponent css */

.storeCard{
  background: #FFFFFF;
  border: 1px solid #EEE7E7CC;
  box-shadow: 0px 1px 8px 0px #0000000F;
  height: 265px;
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.storeCardInfo{
  width: 586px;
}

.storePhoneImage{
  position: absolute;
  top: -136px;
  left: 35px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .chooseContainer{
    grid-template-columns: repeat(2, 1fr);
    width: 320px;
    gap: 20px;
  }

  .chooseContent{
    width: 154px;
    height: 80px;
    box-shadow: 0px 2px 4px 0px #0000000F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #fff;
    border-radius: 8px;
  }

  .spaceContainer{
    grid-template-columns: repeat(1, 1fr);
  }

  .spaceCard{
    width: 330px;
    height: 385px;
  }

  .spaceLocatedImage{
    width: 296px;
  }

  .spaceAddress{
    font-size: 18px;
  }

  .dayPassButton{
    width: 142px;
    height: 58px;
  }

  .bulkPassButton{
    width: 142px;
    height: 58px;
  }

  .discountTag{
    right: 35px;
  }

  .storeCard{
    height: 410px;
  }

  .storeCardInfo{
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    margin-bottom: 2rem;
  }

  .storePhoneImage{
    top: 38px;
    left: 14px;
    width: 290px;
  }

  

}

@media (min-width: 768px) and (max-width: 1024px) {
  .spaceContainer{
    grid-template-columns: repeat(2, 1fr);
  }

  .chooseContent{
    padding: 1rem;
  }

  .spaceCard{
    width: 330px;
  }

  .spaceLocatedImage{
    width: 295px;
  }

  .storePhoneImage {
    position: absolute;
    top: -136px;
    left: -6px;
  }

  .storeCardInfo{
    width: 300px;
    margin-top: 9rem;
  }

  .getOurApp{
    text-align: end;
    font-size: 16px !important;
    margin-right: 45px;
    position: absolute;
    bottom: 45px;
    right: 74px;
    z-index: 99;
  }

  .bannerDescription{
    position: absolute;
    left: 8%;
    top: 14rem;
    width: 300px !important;
  }

}